h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
    max-width: 100%;
    height: auto;
    text-align: center;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
    background-color: #6ca9ee;
    list-style: none;
    font: 80% Tahoma;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    background-color: #EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #EDEDED;
    padding: 2px 10px;
    float: center;
}

#menu ul li a:hover {
    background-color: #D6D6D6;
    color: #6D6D6D;
    border-bottom: 3px solid #3395d6;
}

p {
    font-family: serif;
    font-size: 16pt;
}

body {
    background-color: cornflowerblue;
}

* {
    font-family: 'Segoe UI';
    margin: 0;
    text-align: center;
}

img {
    max-width: 680px;
    max-height: 165px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.footer {
    text-align: center;
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sobre-mim,
.experiencia_formacao,
.projetos {
    font-size: 12pt;
    text-align: left;
    border: 5px solid #353b45;
    background-color: rosybrown;
}

#experiencias {
    text-align: left;
}

.apoio {
    border: 5px solid #353b45;
    border-width: 5px 5px;
    background-color: rosybrown;
}